Flask
Jinja2
PyYAML
ansible
beautifulsoup4
black
click
doc8
docutils
fastapi
flake8
future
graphviz
ipython
isort
jupyter
jupyter-contrib-nbextensions
lxml
matplotlib
numpy
openpyxl
pandas
plotly
psycopg2-binary
pydantic
pytest
python-dateutil
pytz
pyyaml
requests
requests-ntlm
requests-toolbelt
scikit-learn
scipy
seaborn
sklearn
sphinx
sqlalchemy
tablib
xlrd
xlsxwriter
