Flask
Jinja2
PyYAML
ansible
autopep8
beautifulsoup4
click
doc8
docutils
flake8
future
graphviz
ipython
isort
jupyter
jupyter-contrib-nbextensions
lxml
matplotlib
numpy
openpyxl
pandas
plotly
plotly-express
psycopg2-binary
pytest
python-dateutil
python-ldap>=3.0.0b3
pytz
pyyaml
requests
requests-ntlm
requests-toolbelt
scikit-learn
scipy
seaborn
sklearn
smartsheet-python-sdk
sphinx
sqlalchemy
tablib
webexteamssdk
xlrd
xlsxwriter
